<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Inventory System - Info</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <h3><%= message %>
              </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button class="btn btn-primary" onclick="location.href='/'" type="button" style="background-color: rgb(26, 0, 118);color: white;">Back to home</button>
                </div>
            </div>
        </div>
    </body>
</html>
