<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style>
    	label{
        font-size: 1.3em;
    }
    </style>
</head>
<body>
	<div class="jumbotron text-center">
	<h1>Search Inventory Information</h1>
	</div>
	<form action="/search" method="POST">
	<label for="inventoryID"><b>Please input restaurant ID:</b></label><br>
	<input type="text" id="inventoryID" name="inventoryID" placeholder="Type the inventory ID" pattern="[0-9]{8}"><br>
	<small>Format: XXXXXXXX (8 digit number)</small><br>
	<input type="submit" value="Search" />
	<br><br>
    <a href="/" role="button"><i>Back to homepage</i></a>
</body>
</html>

